.body{
    font: font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
}
.first-part{
    font-size: 27px;
    color: darkslategray;
    width: 50%;
    margin-top: 100px;
    margin-left: 50px;
}
p{
    font-size: 20px;
}
.first-part img{
    width: 400px;
}
.button{
    font-size: 20px;
    text-decoration: none;
    background-color:darkslategray;
    color: whitesmoke;
    border-radius: 20px;
    padding: 10px 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.collection{
    background-color: #FFFFFF;
    margin: 25px;
    padding: 14px 17px 15px 17px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 300px;
    height: 450px;
}
.second-part-title{
    font-size: 27px;
    color: darkslategray;
}
img{
    width: 300px;
    height: 256px;
}
.blog-title{
    font-size: 30px;
}
.ratings{
    display: flex;
}
.price{
    font-size: 30px;
    color: darkslategray;
}
.fa-star{
    color: red;
}
.ratings, .ratings-point{
    font-size: small;
}
.shipping{
    font-size: small;
    color: darkslategray;
}

